<div class="row">
  <span>Welcome {{userName}}</span>
  <span><button class="btn btn-danger" (click)="logout()">LogOut</button></span>
</div>
<div class="row input-group mb-3">
  <input type="text" class="form-control form-control-lg" (keyup.enter)="search()" placeholder="What You Want" #searchInput>
  <div class="input-group-append">
    <button (click)="search()" class="btn btn-outline-secondary" type="button">Search</button>
  </div>
</div>
<div class="row" *ngIf="!!searchHistory">
  <ul class="nav nav-fill">
    <li class="nav-item">
      <a class="nav-link disabled">Search History :-</a>
    </li>
    <li class="nav-item" *ngFor="let term of searchHistory">
      <a class="nav-link">{{term}}</a>
    </li>
  </ul>
</div>
<div class="row" *ngIf="!!searchResult">
  <div class="col-sm-6" *ngFor="let result of searchResult">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a target="_blank" href="{{result.url}}">{{result.name}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted"><a target="_blank" href="{{result.owner.url}}">{{result.owner.name}}</a></h6>
        <p class="card-text">{{result.description}}</p>
        <a href="{{result.homepage}}" class="card-link" *ngIf="!!result.homepage">HomePage</a>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!searchResult">
  No Results
</div>